# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.project
project/project/target/config-classes/$43c73ea3387e9d79e604$$anonfun$$sbtdef$1.class
project/project/target/config-classes/$43c73ea3387e9d79e604$.class
project/project/target/config-classes/$43c73ea3387e9d79e604.cache
project/project/target/config-classes/$43c73ea3387e9d79e604.class
project/target/config-classes/$0e6f44c1b480c0bb95b9$$anonfun$$sbtdef$1.class
project/target/config-classes/$0e6f44c1b480c0bb95b9$.class
project/target/config-classes/$0e6f44c1b480c0bb95b9.cache
project/target/config-classes/$0e6f44c1b480c0bb95b9.class
project/target/config-classes/$58f04281d562062837e2$$anonfun$$sbtdef$1.class
project/target/config-classes/$58f04281d562062837e2$.class
project/target/config-classes/$58f04281d562062837e2.cache
project/target/config-classes/$58f04281d562062837e2.class
project/target/config-classes/$80321526f61f05a45da0$$anonfun$$sbtdef$1.class
project/target/config-classes/$80321526f61f05a45da0$.class
project/target/config-classes/$80321526f61f05a45da0.cache
project/target/config-classes/$80321526f61f05a45da0.class
project/target/config-classes/$96bf22f2617ba2fd5875$$anonfun$$sbtdef$1.class
project/target/config-classes/$96bf22f2617ba2fd5875$.class
project/target/config-classes/$96bf22f2617ba2fd5875.cache
project/target/config-classes/$96bf22f2617ba2fd5875.class
project/target/config-classes/$a3b6c805cf9534ee2edb$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$a3b6c805cf9534ee2edb$$anonfun$$sbtdef$1.class
project/target/config-classes/$a3b6c805cf9534ee2edb$.class
project/target/config-classes/$a3b6c805cf9534ee2edb.cache
project/target/config-classes/$a3b6c805cf9534ee2edb.class
project/target/config-classes/$b71b418445a2ca67581f$$anonfun$$sbtdef$1.class
project/target/config-classes/$b71b418445a2ca67581f$.class
project/target/config-classes/$b71b418445a2ca67581f.cache
project/target/config-classes/$b71b418445a2ca67581f.class
project/target/config-classes/$cca2d46cfbd669e74e3d$$anonfun$$sbtdef$1$$anonfun$apply$1.class
project/target/config-classes/$cca2d46cfbd669e74e3d$$anonfun$$sbtdef$1.class
project/target/config-classes/$cca2d46cfbd669e74e3d$.class
project/target/config-classes/$cca2d46cfbd669e74e3d.cache
project/target/config-classes/$cca2d46cfbd669e74e3d.class
project/target/config-classes/$d42816562aa83037dd25$$anonfun$$sbtdef$1.class
project/target/config-classes/$d42816562aa83037dd25$.class
project/target/config-classes/$d42816562aa83037dd25.cache
project/target/config-classes/$d42816562aa83037dd25.class
project/target/config-classes/$dee6af73a9e955ef9666$$anonfun$$sbtdef$1.class
project/target/config-classes/$dee6af73a9e955ef9666$.class
project/target/config-classes/$dee6af73a9e955ef9666.cache
project/target/config-classes/$dee6af73a9e955ef9666.class
project/target/resolution-cache/default/cassandra-harvester-build/
project/target/resolution-cache/reports/default-cassandra-harvester-build-compile-internal.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-compile.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-docs.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-optional.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-plugin.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-pom.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-provided.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-runtime-internal.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-runtime.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-scala-tool.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-sources.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-test-internal.xml
project/target/resolution-cache/reports/default-cassandra-harvester-build-test.xml
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
src/main/java/
src/main/resources/
src/main/scala-2.10/
src/test/
target/resolution-cache/ch.unisg/spark-cassandra-analyzer_scala$sbt_2.10/
target/resolution-cache/ch.unisg/spark-cassandra-analyzer_scala$sbt_2.11/
target/resolution-cache/ch.unisg/spark-cassandra-analyzer_scala$sources_2.10/
target/resolution-cache/ch.unisg/spark-cassandra-analyzer_scala$sources_2.11/
target/resolution-cache/ch.unisg/spark-cassandra-analyzer_scala_2.11/
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sbt_2.10-default.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sbt_2.11-default.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-compile-internal.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-compile.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-docs.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-optional.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-plugin.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-pom.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-provided.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-runtime-internal.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-runtime.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-scala-tool.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-sources.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-test-internal.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.10-test.xml
target/resolution-cache/reports/ch.unisg-spark-cassandra-analyzer_scala$sources_2.11-default.xml
target/scala-2.10/classes/DriverFingerprint$$anonfun$main$1.class
target/scala-2.10/classes/DriverFingerprint$$anonfun$main$2.class
target/scala-2.10/classes/DriverFingerprint$$anonfun$main$3.class
target/scala-2.10/classes/DriverFingerprint$.class
target/scala-2.10/classes/DriverFingerprint.class
target/scala-2.10/classes/cassandra_analyzer$$anonfun$getlocs$1.class
target/scala-2.10/classes/cassandra_analyzer$$anonfun$main$1.class
target/scala-2.10/classes/cassandra_analyzer$$anonfun$main$2.class
target/scala-2.10/classes/cassandra_analyzer$.class
target/scala-2.10/classes/cassandra_analyzer.class
target/scala-2.10/classes/cone_analyzer/
target/scala-2.10/classes/fingerprint$$anonfun$1.class
target/scala-2.10/classes/fingerprint.class
target/scala-2.10/classes/weather_analyzer$$anonfun$main$1.class
target/scala-2.10/classes/weather_analyzer$$anonfun$main$2$$anonfun$apply$1.class
target/scala-2.10/classes/weather_analyzer$$anonfun$main$2.class
target/scala-2.10/classes/weather_analyzer$.class
target/scala-2.10/classes/weather_analyzer.class
target/scala-2.10/resource_managed/
target/scala-2.10/src_managed/
target/scala-2.10/test-classes/
target/streams/$global/$global/dumpStructure/
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.11/
target/streams/$global/ssExtractDependencies/
target/streams/$global/update/$global/streams/update_cache_2.11/
target/streams/$global/updateClassifiers/
target/streams/$global/updateSbtClassifiers/
target/streams/runtime/
target/streams/test/
